<h1>Task Read DataTable Update</h1>

<form [formGroup]="datatableUpdateForm" (ngSubmit)="onSubmit()" novalidate>

<p-dataTable [value]="tasks" class="table table-bordered table-striped">
    <p-column field="id" header="id" [sortable]="true"></p-column>
    <p-column field="user_id" header="user_id" [sortable]="true">
        <ng-template pTemplate="body" let-i="rowIndex" let-col let-task="rowData">
            <input type="text" formControlName="user_id" [(ngModel)]="task[col.field]" pInputText style="width:40px;"/>
        </ng-template>
    </p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="description" header="Description" [sortable]="true"></p-column>
    <p-column field="start_date" header="Start_Date" [sortable]="true"></p-column>
</p-dataTable>

    <div class="form-group">
        <label for="zone">Zone #</label>
        <input type="number"
               formControlName="zone"
               class="form-control"
               id="zone"
               style="width: 100px"
               aria-describedby="startDateHelp"
               placeholder="Zone #">
        <!--<div [hidden]="start_date.valid || start_date.pristine" class="alert alert-danger">Start date is required</div>-->
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>