<h1>Create Task</h1>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
        <label for="proj_id">Project ID</label>
        <input type="number"
               formControlName="proj_id"
               class="form-control"
               id="proj_id"
               aria-describedby="projectIdHelp"
               placeholder="Project ID">
        <div [hidden]="proj_id.valid || proj_id.pristine" class="alert alert-danger">Proj_id is required</div>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               formControlName="name"
               class="form-control"
               id="name"
               required
               aria-describedby="emailHelp"
               placeholder="Task Name">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text"
               formControlName="description"
               class="form-control"
               id="description"
               required
               aria-describedby="descriptionHelp"
               placeholder="Task Description">
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Description is required</div>
    </div>

    <div class="form-group">
        <label for="start_date">Start date</label>
        <input type="date"
               formControlName="start_date"
               class="form-control"
               id="start_date"
               aria-describedby="startDateHelp"
               placeholder="Start Date">
        <div [hidden]="start_date.valid || start_date.pristine" class="alert alert-danger">Start date is required</div>
    </div>

    <div class="form-group">
        <label for="start_date">End date</label>
        <input type="date"
               formControlName="end_date"
               class="form-control"
               id="end_date"
               aria-describedby="startDateHelp"
               placeholder="End Date">
        <div [hidden]="start_date.valid || start_date.pristine" class="alert alert-danger">Start date is required</div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

    <!--<pre style="margin-top: 30px;">taskForm: {{taskForm.value | json}}</pre>-->
</form>
