<h1>Create Task</h1>
<form>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
           placeholder="Task Name">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp"
           placeholder="Task Description">
  </div>

  <div class="form-group">
    <label for="recipient">Recipient</label>
    <input type="text" class="form-control" id="recipient" aria-describedby="recipientHelp"
           placeholder="Task Recipient">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
